<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>PERMinator</title>
		<link rel="stylesheet" href="/bower_components/css/404page.css">
	</head>
	<body>
		<section id="todoapp">
			<header id="header">
				<h1>Page not found</h1>
				<h2><i>"I know now why you cry. But it's something I can never do..."</i></h2>
			</header>
			<center>
				<img src="/images/PERMinator.jpg" width="600px">
			</center>
			<footer id="footer"></footer>
		</section>
		<footer id="info">
		</footer>
	</body>
</html>
