<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>PERMinator</title>
		<link rel="stylesheet" href="/bower_components/todomvc-common/coursepage.css">
	</head>
	<body>
		<section id="todoapp">
			<header id="header">
				<h1>PERMs for {{courseID}}-{{sectionNum}}</h1>
			</header>
			<section id="main">
				<div id="tableHeader">
					<div style="width:185px"></div>
					<div class="name">Name</div>
					<div class="college">School</div>
					<div class="majors">&nbsp Major</div>
					<div class="satisfiesMajor">Satisfies Major?</div>
					<div>PERMs for Sections of {{courseID}}</div>
					<script> 
					</script>
				</div>
				<ul id="prof-perm-list"></ul>
			</section>
			<footer id="footer"></footer>
		</section>
		<footer id="info">
		</footer>
		<script type="text/template" id="prof-perm-template">
			<div>
				<% if(showBlurb) { %>
					<button class="hideBlurb" style="width:15px;padding:0px;">▼</button>
				<% } else { %>
					<button class="showBlurb" style="width:15px;padding:0px;">►</button>
				<% } %>
				<span style="width:15px"></span>
				<span class="status">
					<div class=<%-status%>>
						<% if(status != "Expired") { %>
							<center><i><%- status %></i></center>
						<% } %>
					</div>
					<div>
					<% if(status != "Denied" && status != "Expired") { %>
						<input class="expdate" maxlength="10" size="10" value=<%- expirationTime %>>
					<% } %>
					<% if(status == "Expired") { %>
						<% var future = new Date(); %>
						<% future.setDate(future.getDate() + 7); %>
						<% var dd = future.getDate(); %>
						<% var mm = future.getMonth()+1; %> <!--january is 0 -->
						<% var yyyy = future.getFullYear(); %>
						<span>
							<i class=<%-status%>><%- status %> 
								<% expParts = expirationTime.split("/") %>
								<% expDate = new Date(parseInt(expParts[2]), parseInt(expParts[0])-1, parseInt(expParts[1])) %>
								<% if (expDate < new Date()) { %>
									<%- expirationTime %>
									<input class="expdate" maxlength="10" size="10" value =<%- mm + "/" + dd + "/" + yyyy %>>
								<% } else { %>
									<input class="expdate" maxlength="10" size="10" value =<%- expirationTime %>>
								<% } %>
							</i>
						</span>
					<% } %>
					</div>
					<div id="statusButton">
						<% if (status == "Requested" || status == "Expired" || status == "Denied") { %>
	    					<button class="statusAccept">Accept</button>
   	 						<% if(status == "Requested" || status == "Expired") { %>
   	 							<button class="statusDeny">Deny</button>
    						<% } %>
						<% } %>
					</div>
				</span>
				<div id="info">
					<div class="name"><b><%- sFirstName + " " + sLastName %></b></div>	
					<div class="college"><i><%- college %> <%- year %></i></div>
					<div class="majors"><% majorSet = majors.split("MAJ_DIV") %>
						<span>
							<% for(maj in majorSet) { %>
								<div style="width:200px">
								<%- majorSet[maj] %>
								</div>
							<% } %>
						</span>
					</div>
					<div class="satisfiesMajor">
						<span style="width:10px"></span>
						<font size="5">
						<% for(i=0; i<satisfiesMaj.length; i++) { %>
							<% if("{{courseID}}"==satisfiesMaj[i]) { %>
								✓
							<% } %>
						<% } %>
						</font>
					</div>
				</div>
				<% for (section =1; section <=totalSections; section++) { %>
					<div id="section">
						<% if (perms[section]!=null){ %>
							<% if (section=={{sectionNum}}) { %>
									<div><b><%- "This Section"%></b></div>
									<% } %>
							<% if (section!={{sectionNum}}) { %>
								<div><b><%- "Section "+section%></b></div>
								<% } %>
							<% if (perms[section].sectionRank==null) { %>
								<div class="blue">Only Choice</div>
								<% } %>
								<% if (perms[section].sectionRank==1) { %>
									<div class="blue">First Choice</div>
									<% } %>
									<% if (perms[section].sectionRank==2) { %>
									<div>Second Choice</div>
									<% } %>
									<% if (perms[section].sectionRank==3) { %>
									<div>Third Choice</div>
									<% } %>
									<% if (perms[section].sectionRank==4) { %>
									<div>Fourth Choice</div>
									<% } %>
								
							<% if (perms[section].sectionID!=sectionID) { %>
								<div class=<%-perms[section].status%>><%- perms[section].status %></div>
								<% } %>
								<%}%>
						</div>
					<% } %>
			<div id="error">
						<% if (errorMsg!=null) { %>
	    					<%-errorMsg%>
	    				<% } %>
					</div>
			<div>
				<% if(showBlurb) { %>
					<div>
						<span style="width:48px"></span><i><%- blurb %></i><p>
					</div>
					<% historySet = courseHistory.split("COURSE_DIV") %>
					<% for(histCourse = 0; histCourse < historySet.length/2; histCourse++) { %>
						<div>
							<span style="width:1000px">
							<span style="width:48px"></span>
								<span style="width:450px">
									<%- historySet[histCourse] %>
								</span>
								<span style="width:450px">
									<%- historySet[histCourse + Math.floor(historySet.length/2)] %>
								</span>
								
							</span>
						</div>
					<% } %>
				<% } %>
			</div>
		</script>
		<script src="/bower_components/jquery/jquery.js"></script>
		<script src="/bower_components/underscore/underscore.js"></script>
		<script src="/bower_components/backbone/backbone.js"></script>
		<script src="/js/models/prof-perm.js"></script>
		<script src="/js/collections/prof-perms.js"></script>
		<script src="/js/collections/studentperms.js"></script>
		<script src="/js/collections/sections.js"></script>
		<script src="/js/views/prof-perm-view.js"></script>
		<script src="/js/views/perminator-app-view.js"></script>
		<script src="/js/routers/perminator-router.js"></script>
		<script src="/js/app.js"></script>
        <script>
        $(function(){
            app.prof_perms.reset({{ perms | tojson }});
            app.prof_perms.url = '{{ url_for("studentperm_create") }}';
        });
        </script>
	</body>
</html>
