<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>PERMinator</title>
		<link rel="stylesheet" type="text/css" href="../bower_components/css/studenthome.css">
	</head>
	<body>
		<section id="todoapp">
			<header id="header">
				<h1>PERMs</h1>
				<table id="input-perm">
					<tr>
						<td><input id="course-field" placeholder="Course ID" autofocus></td>
						<td><input id="section-field" placeholder="Section Number	"></td>
						<td><input id="blurb-field" class="blurbEnter" placeholder="Type blurb here"></td>
						<td><input id="section-rank-field" placeholder="Rank same-course sections"></td>
					</tr>
				</table>
			</header>
			<section id="main">
				<ul id="studentperm-list"></ul>
			</section>
			<footer id="footer"></footer>
		</section>

		<perm-display-table id="perm-display-table">
		<script type="text/template" id="studentperm-template">
			<div class="view">	
			
						<td width="10%" id="student-perm-display-course" class="st-perm-display-elt">
							<p style="display:inline"><b>Course: </b></p>
							<p contenteditable="false"><%-course%></p>
							<% if (errorMsg!=null) { %>
				    			<div id="error">
				    				<%-errorMsg%>
				    			</div>
				    		<% } %>	
						</td>
						<td width="10%" id="student-perm-display-sectionid"class="st-perm-display-elt">
							<p style="display:inline"><b>  Section: </b></p>
							<p contenteditable="false"><%-sectionNum%></p>
						</td>
						<td width="40%" id="b_input_column" class="st-perm-display-elt">
							<placeholder><b>  Blurb: </b></p>
							<input rows="5" cols="40" class="b_input_class" style="display:inline" id="student-perm-display-blurb" value="<%-blurb%>"></input>
						</td>
						<td width="10%" id="rank_input_column" class="st-perm-display-elt">
							<p style="display:inline"><b>  Section Rank: </b></p>
							<p>	
							<input class="rank_input_class" id="student-perm-display-sectionrank" value=<%-sectionRank%>></input>
						</td>
						<td width="10%" id="student-perm-display-status" class="st-perm-display-elt">
							<p style="display:inline"><b>  Status: </b></p>
							<p contenteditable="false"><%-status%></p>
						</td>
						<% if (status == "Approved" || status=="Expired") { %>
						<td width="10%"id="student-perm-display-expiration" class="st-perm-display-elt">
							<p style="display:inline"><b>  Expires: </b></p>
							<p contenteditable="false"><%-expirationTime%></p>
						</td>						
						<% } %>
						<% if (status != "Cancelled") { %>
						<td width="10%" id="student-perm-display-cancel" class="st-perm-display-elt">
							<button type="button" id="perm-cancel-button"> ✘ </button>
						</td>
						<% } %>	
			</div>
			<p><p>

			<div>
		</script>
		</table>
		<script type="text/template" id="stats-template">
			<span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
			<ul id="filters">
				<li>
					<a class="selected" href="#/">All</a>
				</li>
				<li>
					<a href="#/active">Active</a>
				</li>
				<li>
					<a href="#/completed">Completed</a>
				</li>
			</ul>
			<% if (completed) { %>
			<button id="clear-completed">Clear completed (<%= completed %>)</button>
			<% } %>
		</script>
		<script src="/bower_components/jquery/jquery.js"></script>
		<script src="/bower_components/underscore/underscore.js"></script>
		<script src="/bower_components/backbone/backbone.js"></script>
		<script src="/js/models/studentperm.js"></script>
		<script src="/js/collections/studentperms.js"></script>
		<script src="/js/views/studentperm-view.js"></script>
		<script src="/js/collections/prof-perms.js"></script>
		<script src="/js/collections/sections.js"></script>
		<script src="/js/views/perminator-app-view.js"></script>
		<script src="/js/routers/perminator-router.js"></script>
		<script src="/js/app.js"></script>
        <script>
        $(function(){
        	app.sid = {{sid}};
            app.studentperms.url = '{{ url_for("studentperm_create") }}';
            app.studentperms.reset({{ studentperms | tojson }});
        });
        </script>
	</body>
</html>
