<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>PERMinator</title>
		<link rel="stylesheet" type="text/css" href="../bower_components/todomvc-common/studenthome.css">
	</head>
	<body>
		<section id="todoapp">
			<header id="header">
				<h1>PERMs</h1>
				<table id="input-perm">
					<tr>
						<td><input id="course-field" placeholder="Course ID"></td>
						<td><input id="section-field" placeholder="Section Number	" autofocus></td>
						<td><input id="blurb-field" class="blurbEnter" placeholder="Type blurb here"></td>
						<td><input id="section-rank-field" placeholder="Rank same-course sections"></td>
					</tr>
				</table>
				<!-- <input id="new-todo" placeholder="Write random crap here"> -->
			</header>
			<section id="main">
				<ul id="studentperm-list"></ul>
			</section>
			<footer id="footer"></footer>
		</section>
		<script type="text/template" id="studentperm-template">
			<div class="view">
				<% sid = {{sid}}%>
				<perm-display-table id="perm-display-table">
					<tr>
						<td id="student-perm-display-course">
							<p style="display:inline"><b>Course: </b></p>
							<p style="display:inline" contenteditable="false"><%-course%></p>
						</td>
						<td id="student-perm-display-sectionid">
							<p style="display:inline"><b>  Section: </b></p>
							<p style="display:inline" contenteditable="false"><%-sectionNum%></p>
						</td>
						<td id="temp0">
							<p style="display:inline"><b>  Blurb: </b></p>
							<input class="b_input_class" style="display:inline" id="student-perm-display-blurb" value="<%-blurb%>">	
						</td>
						<td id="temp">
							<p style="display:inline"><b>  Section Rank: </b></p>
							<input class="rank_input_class" style="display:inline" id="student-perm-display-sectionrank" value=<%-sectionRank%>></input>
						</td>
						<td id="student-perm-display-status">
							<p style="display:inline"><b>  Status: </b></p>
							<p style="display:inline" contenteditable="false"><%-status%></p>
						</td>
						<% if (status == "Accepted") { %>
						<td id="student-perm-display-expiration">
							<p style="display:inline"><b>  Expiration Time: </b></p>
							<p style="display:inline" contenteditable="false"><%-expirationTime%></p>
						</td>						
						<% } %>
						<% if (status != "Cancelled") { %>
						<td id="student-perm-display-cancel">
							<button type="button" id="perm-cancel-button" class='test'> ✘ </button>
						</td>
						<% } %>
					</tr>
				</table>
			</div>
		</script>
		<script type="text/template" id="stats-template">
			<span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
			<ul id="filters">
				<li>
					<a class="selected" href="#/">All</a>
				</li>
				<li>
					<a href="#/active">Active</a>
				</li>
				<li>
					<a href="#/completed">Completed</a>
				</li>
			</ul>
			<% if (completed) { %>
			<button id="clear-completed">Clear completed (<%= completed %>)</button>
			<% } %>
		</script>
		<script src="/bower_components/jquery/jquery.js"></script>
		<script src="/bower_components/underscore/underscore.js"></script>
		<script src="/bower_components/backbone/backbone.js"></script>
		<script src="/js/models/studentperm.js"></script>
		<script src="/js/collections/studentperms.js"></script>
		<script src="/js/views/studentperm-view.js"></script>
		<script src="/js/collections/prof-perms.js"></script>
		<script src="/js/collections/sections.js"></script>
		<script src="/js/views/perminator-app-view.js"></script>
		<script src="/js/routers/perminator-router.js"></script>
		<script src="/js/app.js"></script>
        <script>
        $(function(){
        	app.sid = {{sid}};
            app.studentperms.url = '{{ url_for("studentperm_create") }}';
            app.studentperms.reset({{ studentperms | tojson }});
        });
        </script>
	</body>
</html>
